<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

RewriteEngine On
RewriteBase /

# Ensure API requests go to Laravel, not Vue
# RewriteCond %{REQUEST_URI} ^/api/ [NC]
# RewriteRule ^api/(.*)$ api/index.php [L,QSA]

# Serve existing files directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, route everything else to Vue's index.html
RewriteRule . /index.html [L]
